/* reset info */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;

}

/* Universal Style */

html {
  font-size: 18px;
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.flex-container {
  max-width: 960px;
  margin: 0 auto;
}

h1, h4 {
  font-weight: bold;
}


/* header */

.secret {
  background-color: black;
  color: white;
}

.secret img {
  height: 1.5rem;
  padding-right: 1rem;
}

.secret .flex-container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}


/* main banner section */

.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

.content h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0.25rem 0;
}

@media only screen and (max-width; 470px) { .main-banner {
  height: 15rem; } .content { width: 100%; padding: 1rem 2rem; top: 10rem;} .content h4 { font-size: .77rem;} .content h1 { font-size: 1rem;}}


  /* navigation section */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem  0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) { nav ul { display: none;} .mobile-nav { display: block; text-align: center;}}


/* Store section */

 .items .location {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}


.item {
  width: 30%
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.item-image img {
  max-width: 8rem;
}

.contents {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

/* location/hours section */

.info {
  width: 35%;
}

.info .number {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1024px) { .item { width: 47%;} .item.glasses { display: none;}}

@media only screen and (max-width: 470px) { .item, .location { flex-wrap: wrap;} .item { width: 90; margin: auto;} .item.watch { display: none;} .info { width: 90%; margin: 0.5rem auto;}}

/* footer section */
footer {
  padding: 5rem 0;
  margin-top: 4rem;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 470px) { footer { text-align: center;}}
